@import '../../layouts/css/variable.less';

.menu {
  position: relative;
  &.isEdit {
    :global {
      .ant-tabs-tab {
        .anticon {
          display: block;
        }
      }
    }
  }
  :global {
    .ant-tabs-tab-prev, .ant-tabs-tab-next {
      line-height: 49px;
      margin-top: 0;
    }
    .ant-tabs-tab {
      padding: 0 16px;
      line-height: 49px;
      margin-right: 0;
      .anticon {
        display: none;
        position: absolute;
        right: -10px;
        top: 4px;
        font-size: 12px;
        color: @text-color-secondary;
        &:hover {
          color: @primary-color;
        }
      }
    }
    .ant-spin {
      position: absolute;
      top: 14px;
      left: 20px;
    }
    .ant-tabs-extra-content {
      display: block;
      line-height: 45px;
      padding: 0 20px;
      .ant-btn-ghost,
      .ant-btn-primary {
        padding: 2px 0 !important;
        min-width: 32px;
      }
    }
  }
}

